* {
    margin: 0;
    padding: 0;
}

/* Fuente de google Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

/* contenedor main */
.Main {
    display: flex;
}

/* columna derecha */
.columnaright {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #E8EBE4;
}

.logo-img {
    display: flex;
    justify-content: center;
}

.logo-img img {
    padding-top: 15%;
    width: 20%;
    height: auto;
}

/* Estilo parrafos logo columna derecha*/

.parlog {

    text-align: center;

}

.fpar {

    font-weight: 600;
    font-size: 35px;
    font-family: 'Roboto Flex', sans-serif;
}
.secpar {

    /* font-weight: 600; */
    font-size: 13px;
    font-family: 'Roboto Flex', sans-serif;
}
.trdpar {

   font-weight: 10;
    font-size: 13px;
    font-family: 'Roboto Flex', sans-serif;
}

/* Columna izquierda Contactos */
.contactos {
    /* width: 29%; */
    flex-basis: 29%;
    background-color: #FFF;
    align-items: center;
    /* height: 100vh; */
}

/* Caja contenedora de contacto */

.maria {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: solid 1px rgb(214, 209, 209);
}

.datoscontacto{

    display: flex;
    flex-direction: row;

}

.icon{

    display: flex;
    flex-direction: row;

}

.icon1 i {
    margin: 150% 0 2% -400%;
}

.icon2 i {
    margin: 160% 0 2% -400%;
}
.maria img {
    margin: 5%;
    width: 10%;
    border-radius: 50%;
}

.nombre {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    margin: 6% 0 0 0;
}

.estado {
    color: #b5b9af;
    margin: 11% 0 0 -12%;
    
}

/* Botón nuevo chat */
.botonDiv{
    display: flex;
    justify-content: center;
    border: solid 1px rgb(214, 209, 209);
    
    
}

.botonNuevoChat{
    margin: 10% 0 10% 0;
    background-color: #a490d2;
    border-color: #a490d2;
    /* border-radius: 15px; */
    height: 60px;
    width: 200px;
    color: #FFF;
    font-family: 'Roboto Flex', sans-serif;
    border: none;
}



/* Estilo de las líneas de chat */

.chatline {
    color: #000000;
    margin: 11% 0 0 -11%;
    font-family: 'Roboto Flex', sans-serif;
}

