* {
    margin: 0;
    padding: 0;
}

/* Fuente de google Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

/* contenedor main */
.Main {
    display: flex;
}

/* columna derecha */
.columnaright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%;
    height: auto; */
  flex-basis: 100%;
    background-color: #E8EBE4;
}

.logo-img {
    display: flex;
    justify-content: center;
}

.logo-img img {
    padding-top: 13%;
    width: 20%;
    height: auto;
}

/* Estilo parrafos logo columna derecha*/

.parlog {

    text-align: center;

}

.fpar {

    font-weight: 600;
    font-size: 39px;
    font-family: 'Roboto Flex', sans-serif;
}
.secpar {

    /* font-weight: 600; */
    font-size: 15px;
    font-family: 'Roboto Flex', sans-serif;
}
.trdpar {

   font-weight: 10;
    font-size: 15px;
    font-family: 'Roboto Flex', sans-serif;
}

/* Columna izquierda Contactos */
.contactos {
    display: flex;
    flex-direction: column;
    /* width: 29%; */
    flex-basis: 19%;
    /* height: auto; */
    background-color: #FFF;
    /* align-items: center; */
    
}

/* Caja contenedora de contacto superior */

.mainchat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px rgb(214, 209, 209);
}


.datoscontacto{

    display: flex;
    flex-direction: row;
    

}

.nombre {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 15px;
    margin: 5% 0 0 0;
}

.estado {
    font-family: 'Roboto Flex', sans-serif;
    color: #b5b9af;
    margin: 14% 0 0 -19%;
    font-size: 12px;
    
}

.icon{

    display: flex;
    flex-direction: row;

}

.icon1 i {
    margin: 150% 0 2% -250%;
}

.icon2 i {
    margin: 160% 0 2% -190%;
}
.mainchat img {
    /* display: flex; */
    
    margin: 5%;
    width: 17%;
    border-radius: 50%;
}

/* caja contenedor contactos inferiores */


.mainchat2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px rgb(214, 209, 209);
}

.mainchat2 img {
    /* display: flex; */
    
    margin: 5%;
    width: 19%;
    border-radius: 50%;
}

.nombre2 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 15px;
    margin: 8% 0% 0 0%;
}

/* Estilo de las líneas de chat */

.chatline {
    
   
    color: #000000;
    margin: 16% 0 0 -22%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
}


/* Botón nuevo chat */
.botonDiv{
    display: flex;
    justify-content: center;
    border: solid 1px rgb(214, 209, 209);
    
    
}

.botonNuevoChat{
    margin: 10% 0 10% 0;
    background-color: #a490d2;
    border-color: #a490d2;
    /* border-radius: 15px; */
    height: 40px;
    width: 160px;
    color: #FFF;
    font-family: 'Roboto Flex', sans-serif;
    border: none;
}
